@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: black;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root, #__next {
  height: 100%; /* for React or Next.js apps */
}